<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<div class="auth-container">

    <form method="POST">

        <input type="text" name="username" placeholder="Username" required>

        <div class="password-box">
            <input type="password" name="password" id="resetPassword" placeholder="New Password" required>
            <span class="eye" onclick="toggleResetPassword()">👁</span>
        </div>

        <button type="submit">Reset Password</button>

    </form>

    {% if message %}
    <p>{{ message }}</p>
    {% endif %}

    <div class="auth-links">
        <a href="/login">Back to Login</a>
    </div>

</div>

<script>
function toggleResetPassword() {
    const password = document.getElementById("resetPassword");

    if (password.type === "password") {
        password.type = "text";
    } else {
        password.type = "password";
    }
}
</script>

</body>
</html>